In [5]:
import pandas as pd
import numpy as np
from datetime import datetime
#comandi generali per importare

In [ ]:
import json
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.font_manager import FontProperties
import numpy as np

In [6]:
Coaches = pd.read_json('coaches.json')

In [7]:
Players = pd.read_json('players.json')

In [8]:
Events = pd.read_json('events_England.json')

In [64]:
Teams = pd.read_json('teams.json')

In [10]:
Matches = pd.read_json('matches_England.json')

In [11]:
#Coaches

In [12]:
#Players

In [13]:
#Events

In [126]:
#Matches.info()

In [54]:
#Matches.describe

In [14]:
Teams[Teams['wyId']==1609]
#1609== Arsenal

,area,city,name,officialName,type,wyId
84,"{'name': 'England', 'id': '0', 'alpha3code': '...",London,Arsenal,Arsenal FC,club,1609

In [15]:
casa=[]
trasferta=[]
for x in Matches['teamsData']:
    
    for y in x:
        d = {}
        if x[y]['side'] == 'home':
            d['home'] = y
            casa.append(y)
        else:
            d['away'] = y
            trasferta.append(y)
#con questo ciclo vengono create due liste con le squadre di casa e di trasferta

In [16]:
#check casa e trasferta
len(casa)
cont = 0 
co2=0
for i in range((len(casa))):
    if casa[i]=='1609':
        cont+=1
    if trasferta[i]=='1609':
        co2+=1
print(cont==co2)
#true => la squadra 1609 (Arsenal) ha giocato 19 volte in casa, 19 in trasferta

True

In [192]:
matches_teams_VS = pd.DataFrame([list(x.keys()) for x in Matches.teamsData])
WL = pd.DataFrame({'casa':casa, 'trasferta':trasferta , 'winner':Matches.winner,'week': Matches.gameweek})
#ordiniamo WL in base alla settimana 
WL= WL.sort_values('week')
WL[:10]
#prendendo le prime 10 vedo tutta la prima giornata

     casa trasferta  winner  week
379  1609      1631    1609     1
370  1611      1633    1611     1
371  1613      1624    1624     1
372  1651      1625    1625     1
373  1610      1646    1646     1
378  1644      1612       0     1
375  1623      1639    1623     1
376  1619     10531       0     1
377  1627      1659    1627     1
374  1628      1673    1673     1

In [194]:
#tutte le partite giocate dalla squadra 1609 => Arsenal
aa= WL[WL['casa']=='1609']
bb= WL[WL['trasferta']=='1609']
result=(pd.concat([aa, bb])).sort_values('week')
result.head()

     casa trasferta  winner  week
379  1609      1631    1609     1
363  1639      1609    1639     2
350  1612      1609    1612     3
344  1609      1659    1609     4
331  1610      1609       0     5

In [19]:
WL[WL['week']==1]
squadre_en=[]
for i in range(10):
    squadre_en.append(casa[i])
    squadre_en.append(trasferta[i])
print(squadre_en)
print(len(set(squadre_en))) #sono 20 quindi va bene

['1646', '1659', '1628', '1627', '1673', '1609', '1612', '1651', '1611', '1644', '1613', '1610', '1619', '1625', '10531', '1639', '1624', '1631', '1633', '1623']
20

In [20]:
# fare join tra squadre_en e team ID del dataset allenatore
#result = pd.merge(left, right, on='key')
squadre=pd.DataFrame({'TeamID':squadre_en})

Allenatore = pd.DataFrame(Coaches)
#Allenatore['currentTeamId']
squadre_en

prova=[]
for i in range(len(squadre_en)):
    for j in range(len(Allenatore['currentTeamId'])):
        if Allenatore['currentTeamId'][j]==squadre_en[i]:
            prova.append(Allenatore['currentTeamId'][j])
        
    
prova
#result = squadre.join(Allenatore, on=['TeamID', 'currentTeamId'])
#result

[]

In [21]:
Allenatore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 9 columns):
birthArea        208 non-null object
birthDate        206 non-null object
currentTeamId    208 non-null int64
firstName        208 non-null object
lastName         208 non-null object
middleName       208 non-null object
passportArea     208 non-null object
shortName        208 non-null object
wyId             208 non-null int64
dtypes: int64(2), object(7)
memory usage: 14.7+ KB

In [22]:
Teams_ID_Name = pd.DataFrame({'id':Teams.wyId, 'Name':Teams.officialName})
Teams_ID_Name.head()

     id                          Name
0  1613           Newcastle United FC
1   692       Real Club Celta de Vigo
2   691  Reial Club Deportiu Espanyol
3   696         Deportivo Alav\u00e9s
4   695                    Levante UD

In [24]:
##RQ2
#percentuale di vittori della squadra di casa:
WL1 = WL[['casa','winner']]
WL1
cas=list(WL['casa'])
tras=list(WL['winner'])
conta_casa=0
for i in range(len(cas)):
    if int(cas[i])==int(tras[i]):
        conta_casa+=1
#print(conta_casa)


var_1X=0
for i in range(len(cas)):
    if int(cas[i])==int(tras[i]):
        var_1X+=1
    elif int(tras[i])==0:
        var_1X+=1
#print(var_1X)
ratio_1=conta_casa/len(cas)
ratio_1X=var_1X/len(cas)
print('Percentage of home Victory',ratio_1)
print('Percentage of home Victory or Draw',ratio_1X)
#volendo modificando questi cicli si possono ottenere percentuali singole di pareggio o sconfitta per la squadra di casa

Percentage of home Victory 0.45
Percentage of home Victory or Draw 0.7157894736842105

In [35]:
#selezionare 5 Teams
squadre.head()
#prese le prime 5 che compaiono
five_star=squadre[-5:]
five_=[]
for i in range(len(five_star)):
    five_.append(five_star.iloc[i][0])
five_

['1639', '1624', '1631', '1633', '1623']

In [26]:
WL.head()

     casa trasferta  winner  week
379  1609      1631    1609     1
370  1611      1633    1611     1
371  1613      1624    1624     1
372  1651      1625    1625     1
373  1610      1646    1646     1

In [36]:
#tutte le partite giocate dalla squadra 1639 => ?
fAcasa= WL[WL['casa']==five_[0]]
fAwin = fAcasa[['winner']]
fAcasa1= list(fAcasa['casa'])
fAwin1= list(fAwin['winner'])
ratiofA=0
for i in range(len(fAcasa)):
    if int(fAcasa1[i])==int(fAwin1[i]):
        ratiofA+=1
print(ratiofA/len(fAcasa))
#la percentuale di vittorie a casa della squadra 1646 è del 26%

0.2631578947368421

In [222]:
#tutte le partite giocate dalla squadra 1624 
fBcasa= WL[WL['casa']==five_[2]]
fBwin = fBcasa[['winner']]
fBcasa1= list(fBcasa['casa'])
fBwin1= list(fBwin['winner'])
ratiofB=0
for i in range(len(fBcasa)):
    if int(fBcasa1[i])==int(fBwin1[i]):
        ratiofB+=1
print(ratiofB/len(fBcasa))
#la percentuale di vittorie a casa della squadra 1659 è del 68%

0.3684210526315789

In [ ]:
#anzi che copiare e incollare sarebbe ideale costruire una funzione che calcoli tutte le percentuali

In [223]:
#RQ4
#Players.info()
#from pandas.io.json import json_normalize
#acc=pd.DataFrame(json_normalize(data = Events['tags']))
acc1=Events['tags']
#type(acc1)  acc1 è una serie pandas
acc2=list(acc1)
acc2 #lo convertiamo in una lista
#for i in range(len(acc2)):

#col metodo find vedo se c'è 1801

#str(acc2[7]).find('1801')
#print(acc2[7])
#print(acc2[60])
#str(acc2[7]).find('1801')
l=[]
for i in range(len(acc2[:100])):
    if str(acc2[i]).find('1801')>0:
        l.append(i)
print(l)

[0, 1, 2, 3, 4, 6, 8, 9, 10, 11, 12, 15, 16, 17, 18, 21, 22, 25, 26, 27, 30, 31, 34, 36, 37, 38, 40, 42, 43, 44, 45, 46, 49, 53, 56, 59, 61, 65, 67, 69, 70, 72, 74, 77, 79, 80, 81, 82, 84, 85, 88, 90, 91, 96, 97, 98]

In [219]:
Pass = pd.DataFrame(Events[Events['eventName']==str('Pass')])
Pass.head()
Pass1 = pd.DataFrame({'Player':Pass.playerId, 'nome':Pass.subEventName , 'tags':Pass.tags,'squadra': Pass.teamId})
Pass1.head()
#join su squadre inglesi 
#fatto il join scrivere for per ottenere solo i tags con 1801 => passaggi riusciti 


#assegnare dei pesi: piu passaggi fa piu è importate il ratio

   Player         nome            tags  squadra
0   25413  Simple pass  [{'id': 1801}]     1609
1  370224    High pass  [{'id': 1801}]     1609
2    3319    Head pass  [{'id': 1801}]     1609
3  120339    Head pass  [{'id': 1801}]     1609
4  167145  Simple pass  [{'id': 1801}]     1609

In [225]:
#RQ5
#ratio of AirDuel 
#Air Duel=> subEventId = 10 
eventi = Events['subEventId']
AD = pd.DataFrame(Events[Events['subEventId']==int(10)])
AD.head()
#ottenuto il dataset di tutti i duelli aerei 
#intersecare con i duelli aerei delle squadre inglesi 
#vado a prendermi le colonne che mi interessano
AD = pd.DataFrame({'Player':AD.playerId, 'subEV':AD.subEventId , 'tags':AD.tags,'squadra': AD.teamId})
AD.head()
#fare join squadre inglesi

    Player subEV                         tags  squadra
7     8013    10  [{'id': 701}, {'id': 1802}]     1631
8        0    10  [{'id': 703}, {'id': 1801}]     1609
12    8653    10  [{'id': 703}, {'id': 1801}]     1631
13   25413    10  [{'id': 701}, {'id': 1802}]     1609
27  192748    10  [{'id': 703}, {'id': 1801}]     1631