In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
Coaches = pd.read_json('coaches/coaches.json')
Players = pd.read_json('players/players.json')
Events = pd.read_json('events/events_England.json')
Teams = pd.read_json('teams/teams.json')
Matches = pd.read_json('matches/matches_England.json')

In [2]:
# create a pandas dataframe with the teams playing at home/away
home_away = {}
for i in range(len(Matches['teamsData'])):
    home_away[i] = {}
    for x in Matches['teamsData'][i]:
        if Matches['teamsData'][i][x]['side'] == 'home':
            home_away[i].update({'home': x})
        else:
            home_away[i].update({'away': x})
home_away = pd.DataFrame(home_away).transpose()

In [3]:
# add home_away dataframe to Matches and select the columns for problem 1:
Matches = Matches.join(home_away)
subMatches = Matches[[ 'winner', 'home', 'away']]

In [4]:
TeamL=list(set(subMatches['home']))
#TeamL

In [5]:
TeamL=list(set(subMatches['home']))

def TeamFrame(codeTeam):
    homeM = subMatches[(subMatches['home']==codeTeam)]
    awayM = subMatches[(subMatches['home']==codeTeam)]
    homeM_list=[]

    for i in range(len(homeM)):
        if(homeM.iloc[i]['winner']==int(homeM.iloc[i]['home'])):
            homeM_list.append('home_win')
        elif(homeM.iloc[i]['winner']==0):
            homeM_list.append('home_draw')
        else:
            homeM_list.append('home_lost')
    for i in range(len(awayM)):
        if(awayM.iloc[i]['winner']==int(awayM.iloc[i]['away'])):
            homeM_list.append('away_win')
        elif(awayM.iloc[i]['winner']==0):
            homeM_list.append('away_draw')
        else:
            homeM_list.append('away_lost')
    name = [codeTeam for i in range(38)]
    TeamFrame = pd.DataFrame(zip(name,homeM_list), columns = ['Team', 'Info'])
    
    return TeamFrame

Final = pd.concat([TeamFrame(codeTeam) for codeTeam in TeamL[-5:]])

In [6]:
P = pd.DataFrame(data=Teams['officialName'], index= Teams['wyId'])

In [7]:
Final['Team'] = pd.to_numeric(Final['Team'])

In [8]:
Final = pd.merge(Final,Teams[['wyId','officialName']], left_on='Team', right_on='wyId')

In [9]:
Final = pd.crosstab(Final.officialName,Final.Info)

In [10]:
Final

Info,away_draw,away_lost,away_win,home_draw,home_lost,home_win
officialName,,,,,,
Arsenal FC,2,15,2,2,2,15
Manchester United FC,2,15,2,2,2,15
Newcastle United FC,4,8,7,4,7,8
Stoke City FC,5,5,9,5,9,5
West Ham United FC,6,7,6,6,6,7

In [11]:
from scipy.stats import chi2_contingency

In [12]:
chi2_contingency(Final)

(39.259919028340086,
 0.006188228508621631,
 20,
 array([[ 3.8, 10. ,  5.2,  3.8,  5.2, 10. ],
        [ 3.8, 10. ,  5.2,  3.8,  5.2, 10. ],
        [ 3.8, 10. ,  5.2,  3.8,  5.2, 10. ],
        [ 3.8, 10. ,  5.2,  3.8,  5.2, 10. ],
        [ 3.8, 10. ,  5.2,  3.8,  5.2, 10. ]]))