In [39]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import matplotlib.cm as cm

Coaches = pd.read_json('coaches/coaches.json',)
Players = pd.read_json('players/players.json',encoding = "utf-8")
Events = pd.read_json('events/events_England.json')
Teams = pd.read_json('teams/teams.json')
Matches = pd.read_json('matches/matches_England.json')

In [26]:
# Add column 'Nation' on Teams
Nation = pd.DataFrame([x['name'] for x in Teams['area']],columns=['Nation'])
Teams = pd.merge(Teams, Nation, left_index=True, right_index=True)
Teams_England = Teams[((Teams['Nation'] == 'England') | (Teams['Nation'] == 'Wales')) & (Teams['type'] == 'club')]

In [27]:
# Generate England_Players DataFrame
England_Teams_ID_list = list(Teams_England['wyId']) # list teams Id
player_list =[]
for x in England_Teams_ID_list:
    player_list.append(Players[Players['currentTeamId'] ==x ])

England_Players = pd.concat(player_list) #DF with England Players info

In [28]:
#England_Players

In [29]:
# Generate England_Events DataFrame
England_Players_ID_list = list(England_Players['wyId'])
event_list =[]
for x in England_Players_ID_list:
    event_list.append(Events[Events['playerId'] == x ])

England_Events = pd.concat(event_list) #DF with England Events info

In [30]:
#England_Events

In [31]:
England_Events_Pass = England_Events[England_Events['eventName']=='Pass'] # sub-DataFrame with player 'passes'

In [32]:
count_total_pass = {} # dict containing the sums of pass for each player initialized to 0
count_accurate_pass = {} # dict containing the sums of accurate pass for each player initialized to 0
count_ratio_pass = {} # dict containing the ratio = count_accurate_pass/count_total_pass

# initialize
for x in England_Players_ID_list:
    
    count_total_pass.update({x:0})
    count_accurate_pass.update({x:0})
    count_ratio_pass.update({x:0})

# count
i = 0
for x in England_Events_Pass['playerId']:

    count_total_pass[x] += 1
    if str(England_Events_Pass['tags'].iloc[i]).find('1801') > 0:
        count_accurate_pass[x] += 1
    i +=1

In [ ]:
England_Events_Pass['playerId']

In [33]:
n = 1000 # minimum threshold

for x in England_Players_ID_list: 
    if count_total_pass[x] < n:
        del count_ratio_pass[x]
    else:
        count_ratio_pass[x] = count_accurate_pass[x] / count_total_pass[x]

In [34]:
player_pass =[x[1] for x in sorted((value,key) for (key,value) in count_ratio_pass.items())]

In [36]:
# PRINT - PROBLEM!?!?
player_pass =[x[1] for x in sorted((value,key) for (key,value) in count_ratio_pass.items())[-10:]] # list of id players to print
for i in player_pass:
    lst_player = []
    lst_player.append(list(Players[Players['wyId']==i]['firstName']))
    
    
    print('{}'.format(lst_player[0][0]))

Dejan
Fernando Luiz
Moussa Sidi Yaya
\u0130lkay
Nicol\u00e1s Hern\u00e1n
Phil
Andreas
Vincent
Fabian
John

In [23]:
Players.iloc[4]['lastName']

'Konat\\u00e9'

In [ ]:
player_pass =[x[1] for x in sorted((value,key) for (key,value) in count_ratio_pass.items())[-10:]]
l=[]
for i in player_pass:
    l.append(Players[Players['wyId']==i]['shortName'])

In [ ]:
#player_pass

In [ ]:
l=[]
for x in player_pass:
    l.append(Players[Players['wyId'] == x ])

Player_Pass = pd.concat(l) #DF with England Events info

In [ ]:
#Players

In [26]:
Players

,passportArea,weight,firstName,middleName,lastName,currentTeamId,birthDate,height,role,birthArea,wyId,foot,shortName,currentNationalTeamId
0,"{'name': 'Turkey', 'id': '792', 'alpha3code': ...",78,Harun,,Tekin,4502,1989-06-17,187,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'Turkey', 'id': '792', 'alpha3code': ...",32777,right,H. Tekin,4687
1,"{'name': 'Senegal', 'id': '686', 'alpha3code':...",73,Malang,,Sarr,3775,1999-01-23,182,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'France', 'id': '250', 'alpha3code': ...",393228,left,M. Sarr,4423
2,"{'name': 'France', 'id': '250', 'alpha3code': ...",72,Over,,Mandanda,3772,1998-10-26,176,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'France', 'id': '250', 'alpha3code': ...",393230,,O. Mandanda,null
3,"{'name': 'Senegal', 'id': '686', 'alpha3code':...",82,Alfred John Momar,,N'Diaye,683,1990-03-06,187,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'France', 'id': '250', 'alpha3code': ...",32793,right,A. N'Diaye,19314
4,"{'name': 'France', 'id': '250', 'alpha3code': ...",84,Ibrahima,,Konat\u00e9,2975,1999-05-25,192,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'France', 'id': '250', 'alpha3code': ...",393247,right,I. Konat\u00e9,null
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3598,"{'name': 'Tunisia', 'id': 788, 'alpha3code': '...",72,Ali,,Ma\u00e2loul,16041,1990-01-01,175,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'Tunisia', 'id': 788, 'alpha3code': '...",120839,left,A. Ma\u00e2loul,null
3599,"{'name': 'Peru', 'id': 604, 'alpha3code': 'PER...",76,Carlos Alberto,,C\u00e1ceda Oyaguez,15591,1991-09-27,183,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'Peru', 'id': 604, 'alpha3code': 'PER...",114736,right,C. C\u00e1ceda,null
3600,"{'name': 'Peru', 'id': 604, 'alpha3code': 'PER...",78,Miguel Gianpierre,,Araujo Blanco,12072,1994-10-24,179,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'Peru', 'id': 604, 'alpha3code': 'PER...",114908,right,M. Araujo,null
3601,"{'name': 'Morocco', 'id': 504, 'alpha3code': '...",70,Ahmed Reda,,Tagnaouti,16183,1996-04-05,182,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'Morocco', 'id': 504, 'alpha3code': '...",285583,right,A. Tagnaouti,null
3602,"{'name': 'Panama', 'id': 591, 'alpha3code': 'P...",0,Ricardo,,Guardia Avila,62943,1997-02-04,0,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'Panama', 'id': 591, 'alpha3code': 'P...",361536,left,R. Avila,null